[Desktop Entry]
Name=Blender
Exec=/home/alikebrahim/Apps/blender/blender %u 
Terminal=false
Type=Application
Icon=/home/alikebrahim/.local/share/icons/blender.png
StartupWMClass=blender
Comment=blender
Categories=Office;
