[Desktop Entry]
Name=Obsidian
Exec=/home/alikebrahim/.local/share/obsidian --no-sandbox %u 
Terminal=false
Type=Application
Icon=/home/alikebrahim/.local/share/icons/obsidian-icon.png
StartupWMClass=obsidian
Comment=Obsidian
Categories=Office;
MimeType=text/html;x-scheme-handler/obsidian;
