[credential]
	helper = store
[user]
	name = aliebrahim
	email = alikebrahim@me.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEcptigfOE1s34Y8TLx78yamv3nAxidgn0aqdnSFKWsV
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    dark = true
    features = collared-trogon
     ; light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
