[credential]
	helper = store
[user]
	name = aliebrahim
	email = alikebrahim@me.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.config/delta/themes.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    dark = true
    features = collared-trogon
     ; light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
