# hostmaster (netmaster admin key)
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJxAoDJr0CY3WX1tctkA3LfwC/P0GleK/9UlEEtH+nEJ hostmaster@axmiNet
# alikebrahim@macbook
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKHPLfjJx5MWzSGUe25PP7WOzTMN6OttcAkNtbHtGNYF alikebrahim@macbook_key
# alikebrahim@zotac-box
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP55HbKGHUGZ0N5SLnh95MJ13f1Juqm14VdS99zzKvXA alikebrahim@zotac-box
# alikebrahim@1password (servlaws and minisforoum key)
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEcptigfOE1s34Y8TLx78yamv3nAxidgn0aqdnSFKWsV alikebrahim@1password
