Host netmaster
    HostName netmaster
    User hostmaster

Host servalws
    HostName servalws
    User alikebrahim

Host macbook
    HostName macbook
    User alikebrahim

Host minisforoum
    HostName minisforoum
    User alikebrahim

Host zotac-box
    HostName zotac-box
    User alikebrahim
