# Fleet model (2026-09-04): single controller identity hostmaster@netmaster.
# Workstations are reached as their personal users; hostmaster exists ONLY here.
# Git: git@netmaster via hostmaster_key (entry registered on the git server).

Host netmaster
    HostName 100.75.210.33
    User git
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host servalws
    HostName servalws
    User alikebrahim
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host macbook
    HostName macbook
    User alikebrahim
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host minisforoum
    HostName minisforoum
    User alikebrahim
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host thinkpad
    HostName thinkpad
    User axmi
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host zotac-box
    HostName zotac-box
    User alikebrahim
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host tima@zotac-box
    HostName zotac-box
    User tima
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes

Host honor
    HostName honor
    Port 8022
    User u0_a290
    IdentityFile ~/.ssh/hostmaster_key
    IdentitiesOnly yes
